Q1) Given the dictionary with keys as student names and values as a list of marks for 4
subjects for 4 different students.
        
a) Create a function to find the average marks of the students where the above
dictionary is used as an argument. Return the student name and their average
marks as a dictionary.
    
Sample Input:
{'Ankit':[78,83,76,82],'Shantanu':[56,70,65,83],'Rishabh':[91,74,86,80],'Arun':[83,
87,71,75]}
    
Expected Output:
    
Original Average: {'Ankit': 79.75, 'Shantanu': 68.5, 'Rishabh': 82.75, 'Arun': 79.0}
    
b) All of students applied for rechecking and received the updated marks as
{'Ankit':[0,86,0,77],'Shantanu':[0,0,0,0],'Rishabh':[79,0,0,84],'Arun':[0,0,0,81]}
                          
where 0 indicates no update and a number indicates the updated marks. Return
the updated average using the same function. The function should accept original
and updated marks dictionary as arguments.
    
Expected Output:
Updated Average:{'Ankit': 79.25, 'Shantanu': 68.5, 'Rishabh': 80.75, 'Arun': 80.5}

In [77]:
#a
input1 = {'Ankit':[78,83,76,82],'Shantanu':[56,70,65,83],'Rishabh':[91,74,86,80],'Arun':[83,87,71,75]}
output = {}
for k,v in input1.items():
    if k not in output.keys():
        output[k] = sum(v)/len(v)
print(output)

{'Ankit': 79.75, 'Shantanu': 68.5, 'Rishabh': 82.75, 'Arun': 79.0}

In [86]:
#b
updated_marks = {'Ankit':[0,86,0,77],'Shantanu':[0,0,0,0],'Rishabh':[79,0,0,84],'Arun':[0,0,0,81]}
for student in updated_marks:
    for i in range(4):
        if updated_marks[student][i] ==0:
            updated_marks[student][i] = input1[student][i]


updated_output = {}
for k,v in updated_marks.items():
    if k not in updated_output.keys():
        updated_output[k] = sum(v)/len(v)
print(updated_output)

{'Ankit': 79.25, 'Shantanu': 68.5, 'Rishabh': 80.75, 'Arun': 80.5}

Q2) Write a function to find the sum of digits till only 1 digit remains. Take the number as an
argument.
Sample Input:
59304
Sample Output:
3
Explanation:
5+9+3+0+4 = 21 => 2+1 = 3

In [63]:
num = input()

 59304

In [72]:
num = int(input())
while num>10:
    temp = 0 
    while num > 0:
        rem = num%10
        temp+=rem
        num//=10
    num = temp
print(num)

 59304

3

Q3) An elevator at max can carry a weight of x kgs. N persons enter the elevator(their
weights are entered in a list). Print Yes or No for each test case if the elevator can operate.
(Elevator can operate, if the sum of weights of a person is less than or equal to x. Solve the
questions for T test cases.
Input: First line is T, representing the number of test cases. The first line of each test case
contains x and N. The next line contains a list of body weights of N persons. Print Yes is
elevator can operator, otherwise No.
Sample Input:
2
450 7
65 94 87 70 82 76 81
350 5
56 52 84 50 98
Sample Output
No
Yes

In [31]:
test_case = int(input())
for i in range(test_case):
    x,N = map(int,input().split())
    body_weight = []
    for k in range(N):
        body_weight.append(int(input(k)))
    if sum(body_weight)<=x:
        print('yes')
    else:
        print('no')

 2
 450 7
0 65
1 94
2 87
3 70
4 82
5 76
6 81

no

 350 5
0 56
1 52
2 84
3 50
4 98

yes

Q4) If A-Z is mapped with 1-26 in a dictionary (keys are alphabets, values are numbers from
1 to 26 respectively). Filter the dictionary returning the keys and values where the values are
prime. Use Dictionary comprehension
Expected Output
{'B': 2, 'C': 3, 'E': 5, 'G': 7, 'K': 11, 'M': 13, 'Q': 17, 'S': 19, 'W': 23}

In [1]:
dict1 = {}
list1 = [chr(i) for i in range(65,91)] 
list2 = [i for i in range(1,28)]
dict1 = dict(zip(list1,list2))
output = {filter}

In [15]:
output = {}
for k,v in dict1.items():
    c=0
    for i in range(1,v+1):
        if v%i == 0:
            c+=1
    if c==2:
        output[k] = v

In [16]:
output

{'B': 2, 'C': 3, 'E': 5, 'G': 7, 'K': 11, 'M': 13, 'Q': 17, 'S': 19, 'W': 23}

In [19]:
output = {k : v for k,v in dict1.items() if sum(v%i==0 for i in range(1,v+1))==2}
print(output)

{'B': 2, 'C': 3, 'E': 5, 'G': 7, 'K': 11, 'M': 13, 'Q': 17, 'S': 19, 'W': 23}

Q5) Messi has A goals and B assists this season, whereas Ronaldo has X goals and Y assists.
For each goal the player gets 2 points and for each assist, the player gets one point. Find out
the player with more points this season.
Input format : Accept N the number of test cases. For each of the next N lines Accept a list of
integers as A,B,X,. Output Format : Display Messsi or Ronaldo depending on the player with
more points. Display Equal if their scores tie.
Sample Input
3
91 22 60 30
40 30 50 10
60 30 80 20
Sample Output
Messi
Equal
Ronaldo
Explanation
91 22 60 30 => Messi score = 91*2 + 22=204 , Ronaldo Score = 60*2 +30=150. So winner is
Messi

In [5]:
test_case = int(input('enter the no of test cases: '))
for i in range(test_case):
    A,B,C,D = map(int,input().split())
    Messi_Score = A*2 + B 
    Ronaldo_Score = C*2 + D
    if Messi_Score > Ronaldo_Score:
        print('Messi Wins')
    elif Messi_Score==Ronaldo_Score:
        print('Equal')
    elif Messi_Score < Ronaldo_Score:
        print('Ronaldo Wins')

enter the no of test cases:  3
 91 22 60 30

Messi Wins

 40 30 50 10

Equal

 60 30 80 20

Ronaldo Wins

In [ ]:
Q6) Accept a list of dates as user input in the format MM-DD-YYYY. Return the list of days
sorted in descending order. Solve using list comprehension and then sort it.
Sample Input
['04-10-2001', '07-25-2010', '12-06-2019', '11-17-2021', '09-21-2018']
Sample Output
[25,21,17,10,6]

In [8]:
dates = list(map(str,input().split()))

 04-10-2001 07-25-2010 12-06-2019 11-17-2021 09-21-2018

In [11]:
days = [int(i.split('-')[1]) for i in dates]
days = sorted(days,reverse = True)
print(days)

[25, 21, 17, 10, 6]

Q7) Given IPL points tables after 10 matches. There are supposed to be 14 matches in total
for each team. If a team wins, they get 2 points, if the team loses, they get 0 points and if
there is a tie/rain/any sort of disruption they get 1 point each. Match predictions for 11th,
12th, 13th and 14th matches are given respectively as described in 3 possible scenarios - L ,
W or T, where L is loss, W represents a win, and T represents a tie/disruption.

points_after_10_mathces = {'DC':8, 'CSK':11, 'SRH':8, 'GT':14, 'RCB':10, 'KKR':8,
'MI':10, 'LSG':11, 'RR':10, 'PK':10}

match_pred = {'SRH':'LLLL', 'CSK':'WWLW', 'KKR':'WLWL', 'RCB':'LWWL', 'GT':'WLWW',
'RR':'LWLW', 'LSG':'LWWW', 'PK':'LWLL', 'DC':'LLWL', 'MI':'WWLW'}

a) Find the score of each team after the 13th match. Return output in the form of a
dictionary (key as team name and score as value).

b) Find top 4 teams and their scores qualifying for the next round based on final
score(score after 14th match). Return output in the form of a dictionary (key as
team name and score as value).

Expected Output:
{'GT': 20, 'CSK': 17, 'LSG': 17, 'MI': 16}

In [6]:
points_after_10_mathces = {'DC':8, 'CSK':11, 'SRH':8, 'GT':14, 'RCB':10, 'KKR':8,'MI':10, 'LSG':11, 'RR':10, 'PK':10}

In [7]:
match_pred = {'SRH':'LLLL', 'CSK':'WWLW', 'KKR':'WLWL', 'RCB':'LWWL', 'GT':'WLWW','RR':'LWLW', 'LSG':'LWWW', 'PK':'LWLL', 'DC':'LLWL', 'MI':'WWLW'}

In [9]:
points_after_13_mathces ={}
for i in points_after_10_mathces:
    for j in match_pred:
        if i==j:
            total = points_after_10_mathces[i]
            v=1
            while v<4:
                for k in match_pred[i]:
                    if k=='W':
                        total += 2
                    elif k == 'L':
                        total += 0
                    elif k == 'T':
                        total += 1
                    v+=1
            points_after_13_mathces[i] = total
print(points_after_13_mathces)

{'DC': 10, 'CSK': 17, 'SRH': 8, 'GT': 20, 'RCB': 14, 'KKR': 12, 'MI': 16, 'LSG': 17, 'RR': 14, 'PK': 12}

In [ ]:
Q8) A man has been selling the fruit for X rupees. He earns some profit of Y rupees on selling
the fruit currently. He decided to increase the selling price by 10%. Help him calculate his
new profit after the increase in selling price.
Input Format : The first line of input will contain a single integer T, denoting the number of
test cases. Each test case consists of a single line of input containing two space-separated
integers X and Y denoting the initial selling price and the profit respectively.
Sample Input:
4
100 # inital selling price 10 # profit
200 5
500 10
100 7
    
Sample Output
20
25
60
17
Explanation :
100 10 => The buying price of the item is the difference of selling price and profit, which is
90. The new selling price is 10% more than the initial selling price. Thus, the new profit is
110âˆ’90=20

orig_selling price = 100
profit = 10 rs
cost _price = OGS - profit = 100-10 
new_selling price = 100 + 10% of 100 = 110
new_profit = NSP - Cp = 110 - 90 = 20

In [447]:
test_case = int(input('enter the no of test cases: '))
output = []
for i in range(test_case):
    inital_SP, profit = map(int,input('').split(','))
    cost = inital_SP - profit
    new_selling_price = inital_SP + 0.10 * inital_SP
    new_profit = new_selling_price - cost
    print(f'profit { new_profit }')

enter the no of test cases:  4
 100,10

profit 20.0

 200,5

profit 25.0

 500,10

profit 60.0

 100,7

profit 17.0

Q9) Accept a list of words as user input.
Return a dictionary containing the words from the above list as key and the value will be
the count of each character in the form of a key : value pair, where the key is character
and its count is its frequency in the word. Accept all words in lowercase.
a) Sample Input:
['welcome','school','queue','thirteen','freedom','amplification']
Sample Output
{'welcome': {'w': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'm': 1}, 'school': {'s': 1, 'c': 1, 'h': 1, 'o': 2, 'l': 1},
'queue': {'q': 1, 'u': 2, 'e': 2}, 'thirteen': {'t': 2, 'h': 1, 'i': 1, 'r': 1, 'e': 2, 'n': 1}, 'freedom': {'f':
1, 'r': 1, 'e': 2, 'd': 1, 'o': 1, 'm': 1}, 'amplification': {'a': 2, 'm': 1, 'p': 1, 'l': 1, 'i': 3, 'f': 1, 'c':
1, 't': 1, 'o': 1, 'n': 1}}
b) Return all the words where the total vowel count in the word is even in the form of a list
of tuples. (word, sum of vowel_count)
Sample Output
[('school', 2), ('queue', 4), ('amplification', 6)]

In [420]:
list_words = list(map(str,input().lower().split(',')))

 welcome,school,queue,thirteen,freedom,amplification

In [431]:
for word in list_words:
    freq = {}
    for letter in word:
        freq[letter] = freq.get(letter, 0) + 1
    result[word] = freq

print(result)

{'welcome': {'w': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'm': 1}, 'school': {'s': 1, 'c': 1, 'h': 1, 'o': 2, 'l': 1}, 'queue': {'q': 1, 'u': 2, 'e': 2}, 'thirteen': {'t': 2, 'h': 1, 'i': 1, 'r': 1, 'e': 2, 'n': 1}, 'freedom': {'f': 1, 'r': 1, 'e': 2, 'd': 1, 'o': 1, 'm': 1}, 'amplification': {'a': 2, 'm': 1, 'p': 1, 'l': 1, 'i': 3, 'f': 1, 'c': 1, 't': 1, 'o': 1, 'n': 1}}

Q10) Accept a list of integers as user input.
Find all consecutive pairs of even numbers. Output should be a list of tuples. Solve using lambda,
map and/or filter.
Sample Input :
[4, 6, 8, 7, 9, 0, 1, 25, 22, 18]
Expected Output:
[(4, 6), (6, 8), (22, 18)]

In [404]:
#sol
int_list = list(map(int,input().split()))

 4 6 8 7 9 0 1 25 22 18

In [405]:
even_list = []
for i,j in zip(int_list,int_list[1:]):
    if i%2==0 and j%2==0:
        even_list.append((i,j))
print(even_list)

[(4, 6), (6, 8), (22, 18)]

In [410]:
even_list = list(filter(lambda x : x[0]%2==0 and x[1]%2==0, zip(int_list,int_list[1:])))
print(even_list)

[(4, 6), (6, 8), (22, 18)]